<h1>Add a New Product</h1>

<form method="post" action="/products">
  <div>
    <label for="name">Name:</label>
    <input id="name" name="name" type="text" />
  </div>

  <div>
    <label for="description">Description:</label>
    <input id="description" name="description" type="text" />
  </div>

  <div>
    <label for="price">Price:</label>
    <input id="price" name="price" type="text" />
  </div>

  <input type="submit" />
</form>