<h1>Add a New Product</h1>

<form method="POST" action="/products">
    <label for="name">Name:
        <input type="text" id="name" name="name">
    </label>
    <label for="price">Price:
        <input type="text" id="price" name="price">
    </label>
    <label for="description">Description:
        <input type="text" id="description" name="description">
    </label>

    <input type="submit" value="Purchase Product">
</form>